<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Date nai:</strong>
  <%= @staff.date_nai %>
</p>

<p>
  <strong>Lieu nai:</strong>
  <%= @staff.lieu_nai %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @staff.nationality %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Post:</strong>
  <%= @staff.post %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
