<p id="notice"><%= notice %></p>

<h1>Listing Chambers</h1>

<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Name</th>
      <th>Type chamber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chambers.each do |chamber| %>
      <tr>
        <td><%= chamber.building %></td>
        <td><%= chamber.name %></td>
        <td><%= chamber.type_chamber %></td>
        <td><%= link_to 'Show', chamber %></td>
        <td><%= link_to 'Edit', edit_chamber_path(chamber) %></td>
        <td><%= link_to 'Destroy', chamber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chamber', new_chamber_path %>
