<%= form_for @tbanque, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :banque_id, :class => 'control-label' %>
      <%= f.number_field :banque_id, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :type_tb, :class => 'control-label' %>
      <%= f.text_field :type_tb, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :debit, :class => 'control-label' %>
      <%= f.text_field :debit, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :credit, :class => 'control-label' %>
      <%= f.text_field :credit, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :porteur, :class => 'control-label' %>
      <%= f.text_field :porteur, :class => 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  tbanques_path, :class => 'btn' %>
  </div>
<% end %>
