<%= form_for @client, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="container content">
      <div class="row content">
        <%= render 'shared/error_messages', object: f.object %>
        <div class="col-xs-6 col-xs-push-1">
          <div class="col-xs-12">
            <div class="col-xs-6">
              <% if @client.avatar.exists? %>
                  <%= image_tag @client.avatar.url(:medium), :class => "img-responsive img-thumbnail mini" %>
              <% else %>
                  <%= "Image" %>
              <% end %>
              <br/>
            </div>
            <div class="col-xs-6">
              <%= f.file_field :avatar, :label => 'Choisissez un photo' %>
              <br/>
            </div>
          </div>
          <div class="col-xs-6">
            <%= f.text_field :nom, autofocus: true, class: 'form-control', required: true, placeholder: 'Nom' %>
            <br/>
          </div>
          <div class="col-xs-6">
            <%= f.text_field :prenom, class: 'form-control', placeholder: 'Préom' %>
            <br/>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-12">
              <div class="col-xs-6">
                <%= f.label :m %>
                <%= radio_button("client", "sexe", "M") %>
              </div>

              <div class="col-xs-6">
                <%= f.label :f %>
                <%= radio_button("client", "sexe", "F") %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <%= f.text_field :nationalite, class: 'form-control', placeholder: 'Nationalité' %>
            <br/>
          </div>
          <div class="col-xs-6">
            <%= f.date_field :date_nai, class: 'form-control datepicker', placeholder: 'Date naissance : jj-mm-aaaa' %>
            <br/>
          </div>
          <div class="col-xs-6">
            <%= f.text_field :lieu_nai, class: 'form-control', placeholder: 'Lieu de naissance' %>
            <br/>
          </div>
          <div class="col-xs-6">
            <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
            <br/>
          </div>
          <div class="col-xs-6">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
            <br/>
          </div>
          <div class="col-xs-12">
            <%= f.text_field :profession, class: 'form-control', placeholder: 'Profession' %>
            <br/>
          </div>
          <div class="col-xs-12 text-right">
            <%= f.text_area :address, class: 'form-control', placeholder: 'Address....' %>
            <br/>
          </div>
          <div class="col-xs-12">
            <br/>

            <div class="form-actions text-right">
              <%= f.button :submit, :class => 'btn btn-primary' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                          clients_path, :class => 'btn btn-default' %>
            </div>
          </div>

        </div>
      </div>
      <!-- row content -->
    </div> <!-- container content -->

<% end %>
