<%= form_for(@contrat) do |f| %>
    <% if @contrat.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contrat.errors.count, "error") %> prohibited this contrat from being saved:</h2>

          <ul>
            <% @contrat.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :article %><br>
      <%= f.text_field :article %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :type_contrat %><br>
      <%= f.text_field :type_contrat %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
