<%= form_for @depense, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.text_field :description, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :categoriedep_id, :class => 'control-label' %>
      <%= f.number_field :categoriedep_id, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :montant, :class => 'control-label' %>
      <%= f.text_field :montant, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :etat, :class => 'control-label' %>
      <%= f.text_field :etat, :class => 'form-control' %>
  </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  depenses_path, :class => 'btn' %>
  </div>
<% end %>
