<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @depense.description %>
</p>

<p>
  <strong>Categoriedep:</strong>
  <%= @depense.categoriedep %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @depense.montant %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @depense.etat %>
</p>

<%= link_to 'Edit', edit_depense_path(@depense) %> |
<%= link_to 'Back', depenses_path %>
