<%= form_for @paiement, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :num, :class => 'control-label' %>
      <%= f.text_field :num, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :num_paie, :class => 'control-label' %>
      <%= f.text_field :num_paie, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :owner_id, :class => 'control-label' %>
      <%= f.number_field :owner_id, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :client_id, :class => 'control-label' %>
      <%= f.number_field :client_id, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :banque_id, :class => 'control-label' %>
      <%= f.number_field :banque_id, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :condition_reg, :class => 'control-label' %>
      <%= f.text_field :condition_reg, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :type_paiement, :class => 'control-label' %>
      <%= f.text_field :type_paiement, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :motif, :class => 'control-label' %>
      <%= f.text_field :motif, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :debit, :class => 'control-label' %>
      <%= f.text_field :debit, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :credit, :class => 'control-label' %>
      <%= f.text_field :credit, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :datepaiement, :class => 'control-label' %>
      <%= f.datetime_select :datepaiement, :class => 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  paiements_path, :class => 'btn' %>
  </div>
<% end %>
